# Go build artifacts
*.exe
*.exe~
*.out
*.o
*.a


vendor/

# Test binary, build and cached files
*.test
*.cache
*.prof

.vscode/
.idea/
*.sublime-project
*.sublime-workspace
*.swp
*.tmp
*.log

.env

*.cov

*.bak
*.tmp
*.orig
